script async=true src="https://www.googletagmanager.com/gtag/js?id=TAG_ID"
script async=true src="/assets/javascript/analytics.js"

script
  |
    if (localStorage.getItem("cookies_accepted") == "yes") {
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'TAG_ID');
    }
